@import '../variables.scss';

.courses {
	.course-card {
		display: flex;
		justify-content: space-between;
		padding: 15px;
		margin: 20px 0;
		border: 1px solid $course-border-color;

		@media all and (max-width: 767px) {
			flex-direction: column;
		}

		.right-side {
			width: 100%;
			min-width: 300px;
			max-width: 300px;

			.show-course {
				margin-top: 10px;
				text-align: center;
			}

			@media all and (max-width: 767px) {
				margin-top: 10px;
				max-width: unset;
			}
		}
	}
}