@import '../variables.scss';

.courses {
	.course-card {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 15px;
		margin: 20px 0;
		border: 1px solid $course-border-color;

		@include media-breakpoint-up(md) {
			flex-direction: row;
		}

		.left-side {
			@include media-breakpoint-up(md) {
				margin-right: 15px;
			}
		}

		.right-side {
			width: 100%;
			min-width: 300px;
			margin-top: 10px;

			@include media-breakpoint-up(md) {
				margin-top: 0;
				max-width: 300px;
			}

			.show-course {
				margin-top: 10px;
				text-align: center;
			}
		}
	}
}